img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }

body {
  color: #060;
  background-color: #E1E0C7;
}


.imap { position: relative;
}
.imap a{ display: block; position: absolute;
}