---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

// Added this CSS ensures the Bitbucket cards having the same style as GitHub card
.repo .card {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff; /* Light theme */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: slight shadow like GitHub cards */
}

.only-dark .repo .card {
  background-color: #333; /* Dark theme */
  border-color: #555;
  color: #fff;
}

.repo .card .card-title a {
  color: #0366d6; /* GitHub link blue, adjust if needed */
  text-decoration: none;
}

.repo .card .card-title a:hover {
  text-decoration: underline;
}


// added for legoj tooltips
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext img {
  max-width: 100%;
  height: auto;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
