body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

.container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 12px;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

td {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #e6f7ff;
}

@media (orientation: landscape) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        text-align: center;
    }
}
